header {
    background-color:#ffffff;
    padding: 3px;  
    text-align: center;
    font-size: larger;
}    

/* imagens do site */ 
#meu_logo{
    width: 250px;
    padding: 5px;
}

#engrenagem_site{
    width: 280px;
    padding: 5px;   
}

#samissone_site{
    width: 350px;
    padding: 5px;
}

#gestao_redes_sociais{
    width: 350px;
    padding: 5px;
}

#logotipos{
    width: 350px;
    padding: 5px;
}

/* titulos do site */
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2c4af3;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:#2c4af3;
}

h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #060b28;
}



/* articles */
article{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: center;
}

/* divs do site */
div.about_me{
    text-align: center;
}
div.meus_projetos{
    text-align: center;
}


/* Formulario de contato */

div.formulario_contato{
    width: 100%;
    background-image: url("imagens/background_form.png");

}

.form_contato{
    width: 30%;
    padding: 50px;
    border:1px solid #4f2ca3;
    background-color: #ffffff;
    border-radius: 5px;
    display: block;
    margin-left: auto; /* aqui */
    margin-right: auto; /* e aqui */
}   

.form_contato h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:#2c4af3;
    width: 100%;
    text-align: center;
}

.form_contato p{
    text-align: center;
    width: 100%;
    font-size: small;
}

.field{
    width: 100%;
    margin: 18px 0;
}

.field label {
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
    color: #0d1e7e;
}


input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 35px;
    line-height: 35px;
    border-radius: 15px;
    border: 1px solid #5b4290;
    outline: none;
}

textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}

button{
    display: block;
    background-color:#4fb4f8;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}


button:hover {
    background-color: #cf5adf;
  }

















/*
.form_contato{
    text-align: center;
    border-radius: 5px;
    background-image: url("imagens/background_form.png");
    padding: 30px;
    border: 1px solid #4fb4f8;
}

.field{
    width: 100%;
    margin: 8px 0;
}

.field label{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 60%;
}

#text_form{
    text-align: center;
    width: 100%;
    font-size: medium;
}


input[type=text],
input[type=email],
textarea{
    width: 50%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}

textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}

input[type=submit]{
    display: block;
    background-color: #4fb4f8;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

input[type=submit]:hover {
    background-color: #cf5adf;
  }*/

/*------------------------------------*/
/*
input[type=text],textarea{
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    width: 50%;
  }

  input[type=tel]{
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    width: 50%;
  }

  input[type=email]{
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    width: 50%;
  }
  
  input[type=submit] {
    background-color: #4fb4f8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    text-align: center;
  }

  
input[type=submit]:hover {
    background-color: #0d3b55;
  }/*