header {
    background-color:#ffffff;
    padding: 3px;  
    text-align: center;
    font-size: larger;
}    

/* imagens do site */ 
#meu_logo{
    width: 250px;
    padding: 5px;
}

#engrenagem_site{
    width: 280px;
    padding: 5px;   
}

#samissone_site{
    width: 350px;
    padding: 5px;
}

#gestao_redes_sociais{
    width: 350px;
    padding: 5px;
}

#logotipos{
    width: 350px;
    padding: 5px;
}

/* titulos do site */
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2c4af3;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:#2c4af3;
}

h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #060b28;
}



/* articles */
article{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: center;
}

/* divs do site */
div.about_me{
    text-align: center;
}
div.meus_projetos{
    text-align: center;
}


/* Formulario de contato */

.form_contato{
    text-align: center;
    border-radius: 5px;
    background-image: url("imagens/background_form.png");
    padding: 30px;
}

#text_form{
    text-align: center;
}

input[type=text],textarea{
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=tel]{
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=email]{
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4fb4f8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    text-align: center;
  }

  
input[type=submit]:hover {
    background-color: #0d3b55;
  }