header {
    background-color:#ffffff;
    padding: 3px;  
    text-align: center;
    font-size: larger;
}    

/* imagens do site */ 
#meu_logo{
    width: 250px;
    padding: 5px;
}

#engrenagem_site{
    width: 280px;
    padding: 5px;
   
}
/* titulos do site */
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(69, 41, 191);
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(69, 41, 191);
}

h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(4, 1, 18);
}

/* articles */
article{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: center;
}

/* divs do site */
div.about_me{
    text-align: center;
}
div.meus_projetos{
    text-align: center;
}
div.formulario_de_contato{
    text-align: center;
    border-radius: 5px;
    background-color: #95d5ff;
    padding: 20px;
}

/* Formulario de contato */